*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://media.istockphoto.com/id/876835372/vector/dark-red-and-purple-abstract-shiny-background.jpg?s=612x612&w=0&k=20&c=dPLcAN2o2dExcXIpS8nL1__4hCw1inuUp2va4ioQCsU=");
    background-size: cover;
    /* background-position: center; */
}
.container{
    position: relative;
    width: 400px;
    height: 555px;
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height  .6s  ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    /* background-color: slateblue; */
    display: flex;
    align-items: center;

}
.search-box>i {
    position: relative;
    left: 18px;
    font-size: 28px;

}
.search-box input{
 position: relative;
 left: -18px;
 width: 500px;
 height: 100%;
 background-color: transparent;
 border: 2px solid rgba(255,255,255,.2);
 outline: none;
 border-radius: 10px;
 font-size: 22px;
 color: #ffff;
 font-weight: 500;
 text-transform: uppercase;
 padding: 0 48px 0 42px;
}

.search-box input::placeholder{
    color: #fff;
    text-transform: capitalize;
}
.search-box button {
    position: relative;
    left: -80px;
    width: 40px;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 45px 0 5px;
    cursor: pointer;
}
.weather-box,.weather-details,.not-found{
    overflow: hidden;
    visibility: hidden;
}
.weather-box.active,.weather-details.active,.not-found.active{       
    visibility: visible;
}
.weather-box img {
    /* width: 100%; */
    border-radius: 40px;
    position: relative;
    left: 100px;
    top: 20px;
}
.weather-box .temperature{
    position: relative;
    left: 140px;
    top: 30px;
    font-size: 40px;
    font-weight: 700;

}
.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    left: 100px;
    top: 30px;
}
.weather-details{
    position:absolute;
    bottom:40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.weather-details .wind {
    padding-left: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}
.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}
.weather-details p {
    font-size: 14px;
    font-weight: 500;
}
/* .not-found img {
    /* width: 65%; */
    /* position: relative;
    top: -10px; */
/* } */ 
.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
    position: relative;
    top: -10px;
    left:50px;
}
/* #a1{
    position: relative;
    top: -120px;

} */